/dev/input/event0
600 root if ! pgrep -f '^openvt.*vlock'; then openvt -w -s -- vlock -a; fi
0xec crowolo fetchmail -s
0xb2 crowolo mpg123 -z ~/songs/*.mp3
0xf4 crowolo killall -INT mpg123
0xf3 root openvt -w -s -- vlock -a
0xb3 dude command5
0xb4 dude command6
0xd8 root loadkeys dvorak
0xd6 root loadkeys us
